.carregando {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.3);
}

.carregando>.spinner {
    color: #06414B !important;
}