.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.nav-pills li a:hover {
    background-color: #50BF84;
    cursor: pointer;
}
.sidebar-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown-item {
    cursor: pointer;
}

.dropdown-menu a:hover{
    color: #50BF84
}

.pages-content {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  scrollbar-width: thin;
  scrollbar-color: #50BF84 #e6e6e600;
}

.container-fluid,
.col-auto,
.min-vh-100 {
  height: 100vh !important;
}