.component-home {
    transition: padding-left 0.3s ease;
}

.sidebar-open {
  padding-left: 270px;
}

.sidebar-closed {
  padding-left: 5em;
}

@media screen and (max-width: 575px) {
  .sidebar-open {
    padding-left: 120px;
  }
}
